<h1>My Listings</h1>

<% @my_listings.each do |a| %>

	Name: <%= a.title %><br>
	Description: <%= a.description %><br>
	Tags: <%= a.all_tags %><br>

	<%= link_to 'Edit', edit_listing_path(a) %>
	<%= link_to 'Delete', listing_path(a), method: :delete %><br>

<% end %>

<%= link_to 'Home', welcome_pages_home_path %> 
<%= link_to 'All Listings', listings_path %>