<h1>WelcomePages#home</h1>
<p>Find me in app/views/welcome_pages/home.html.erb</p>

<body>
    <% if signed_in? %>
      Signed in as: <%= current_user.email %><br>
      <%= link_to 'Create New Listing', new_listing_path %>
      <%= link_to 'My Listings', myprofile_path %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
      <%= link_to "Connect With Facebook", "/auth/facebook" %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
</body>

<%= link_to 'All Listings', listings_path %><br>
<%= link_to 'welcome_pages_help', welcome_pages_help_path %>
